<footer class="footer-distributed">
    <div class="footer-left">
        <span>Contacts</span>
        <contacts-body></contacts-body>
        <orange-body></orange-body>
    </div>
    <div class="footer-center hidden-xs">
        <span>Links</span>
        <links-body></links-body>
    </div>

    <div class="footer-right hidden-xs">
        <p>
            <span>News</span>
            <news-body></news-body>
            <br />
            <br />
            <span>About</span>
            <about-body></about-body>
        </p>
    </div>
</footer>
