<h4>Components</h4>
<ul class="info">
    <li>
        <a target="_blank" href="https://angular.io/">Angular2+</a>&#160;&#183;
        <a target="_blank" href="https://getbootstrap.com/docs/3.3/getting-started/">Bootstrap</a>&#160;&#183;
        <a target="_blank" href="https://www.typescriptlang.org/">Typescript</a>
    </li>
    <li>
        <a target="_blank" href="https://www.elastic.co/guide/index.html">Elastic</a>&#160;&#183;
        <a target="_blank" href="https://nodejs.org">NodeJS</a>&#160;&#183;
        <a target="_blank" href="https://www.keycloak.org">Keycloak</a>
    </li>
    <li>
        <a target="_blank" href="http://openid.net/connect/">OpenID connect</a>&#160;&#183;
        <a target="_blank" href="https://oauth.net/2/">Oauth2</a>
    </li>
</ul>
