<h4>EA knowledge base</h4>
<ul class="info">
    <li>
        <a target="_blank" href="https://portal.intranet.orange.sk/sites/architecture/SitePages/Home.aspx">Architecture site</a>&#160;&#183;
        <a target="_blank" href="https://aris-bp9.intranet.orange.sk:8443/businesspublisher/">ARIS Pub</a>&#160;&#183;
        <a target="_blank" href="http://ngiapp:7080/startpage.jsp">NGI</a>
    </li>
</ul>
<h4>Presentations</h4>
<ul class="info">
    <li>
        <a target="_blank" href="//elastika.fe.sun.orange.sk/autocomplete_presentation/index.html">Autocomplete presentation(15.01.2016)</a>
    </li>
    <li>
        <a target="_blank" href="//elastika.fe.sun.orange.sk/elastika_presentation/index.html">Elastika presentation(25.11.2016)</a>
    </li>
</ul>
